td {
  color: #540F34;
  font-size:14px !important;
  cursor: pointer;
  font-family: Helvetica,sans-serif;



}
th {
  background: #9CE340;
  color: #540F34;
  font-size:14px !important;


}
tbody {
  overflow-x:scroll;
  max-height: 2cm;
}
