#body {
  background: #FBF0A7;
  height:16cm;
  overflow-x: hidden;
  

}
.row {
  padding-top: 55px;
  padding-bottom: 15px;
}

.col-md-2 {
  margin-left: 1cm;
  padding-bottom: 1cm;
}
.card-counter{

    box-shadow: 2px 0px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    width: 210px;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
    cursor: pointer;
  }

.card-counter:hover{
    box-shadow: 4px 0px 20px #DADADA;
    transition: .3s linear all;
  }

.card-counter.primary{
    background-color:  #26c6da;
    color: #FFF;
  }

.card-counter.warning {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.danger{
    background-color: #BA67AF;
    color: #FFF;
  }
.card-counter.success{
    background-color: #E0868F;
    color: #FFF;
  }

.card-counter.info{
    background-color:#007bff;
    color: #FFF;

  }

.card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

.card-counter .count-numbers{
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 32px;
    display: block;
  }
  .card-counter .count-name{
     position: absolute;
     right: 50px;
     top: 65px;
     font-style: italic;
     text-transform: capitalize;
     opacity: 0.5;
     display: block;
     font-size: 18px;
   }
